@import "./colors";

.editor {

  .CodeMirror {
    // Background color of main window
    background-color: @syntax-bg;
    color: @black;
  }
  .CodeMirror-scroll {
    // Color of otherwise un-styled text
    color: @black;
  }
  .CodeMirror-gutters {
    // Gutter to the left
    background-color: @syntax-bg;
    color: @syntax-gutter;
  }
  .CodeMirror-linenumber {
    // Line numbers in the gutter
    color: @grey;
    opacity: 0.6;
  }

  .CodeMirror-selected {
    background-color: @light-grey;
  }
  .CodeMirror-focused .CodeMirror-selected {
    background-color: @light-blue;
  }
  .CodeMirror-cursor {
    // The cursor
    border-left: 1px solid @syntax-cursor;
  }
  .CodeMirror-matchingbracket,
  .CodeMirror-matchingtag {
    // When you click a tag/bracket and the matching one is highlighted
    color: @red !important;
    border-bottom: 1px solid @red !important;
  }
  .CodeMirror-foldgutter-open:after {
    // Those little arrows in the gutter
    color: @syntax-gutter;
  }
  .CodeMirror-foldgutter-folded:after {
    // The arrows after you collapse code
    color: @syntax-gutter;
  }
  .CodeMirror.over-gutter,
  .CodeMirror-activeline {
    .CodeMirror-foldgutter-open:after {
      // Arrows when hovering on the gutter
      color: @syntax-gutter;
    }
  }
  .CodeMirror-foldmarker {
    // The [...] marking collapsed code
    border-color: @grey;
    background-color: @grey;
    color: @dark-grey;
  }
  .CodeMirror .CodeMirror-linewidget img.inline-widget {
    background: rgba(0,0,0,0.05);
  }
  .CodeMirror-searching {
    // Ctrl + F results
    background-color: @dark-orange;
    // Selected result
    &.searching-current-match {
      background-color: @orange;
    }
  }

  /* All 'dem swatches */

  .CodeMirror {
    .cm-atom { color: @dark-orange; }
    .cm-builtin { color: @cyan; }
    .cm-keyword { color: @purple; }
    .cm-number { color: @orange; }
    .cm-operator { color: @syntax-accent; }
    .cm-def { color: @black; }
    .cm-s-default {color: @black;}
    .cm-type {color: @green;}
    .cm-keyword + .cm-def {
      color: @blue;
    }
    .cm-string,
    .cm-string-2 {
      color: @green;
    }
    .cm-comment {
      color: @grey;
      font-style: italic;
    }
    .cm-variable {
      color: @red;
    }
    .cm-variable-2,
    .cm-variable-3 {
      color: @black;
    }
    .cm-keyword + .cm-variable {
      color: @blue;
    }

    .cm-formatting.cm-formatting-code,
    .cm-formatting.cm-formatting-code-block {
      color: @black;
    }

    // Quote
    .cm-quote {
      color: @grey;
      font-style: italic;
    }

    // Inline code
    .cm-inline-code,
    .cm-formatting.cm-formatting-code.cm-inline-code{
      background: rgba(0, 0, 0, 0.03);
      color: @dark-grey;
    }

    // Bullet list
    .cm-formatting.cm-formatting-list.cm-formatting-list-ul.cm-variable-2 {
      color: @blue;
    }
    .cm-formatting.cm-formatting-list.cm-formatting-list-ul.cm-variable-3 {
      color: @red;
    }
    .cm-formatting.cm-formatting-list.cm-formatting-list-ul.cm-keyword {
      color: @orange;
    }

    // Number list
    .cm-formatting.cm-formatting-list.cm-formatting-list-ol.cm-variable-2 {
      color: @blue;
    }
    .cm-formatting.cm-formatting-list.cm-formatting-list-ol.cm-variable-3 {
      color: @red;
    }
    .cm-formatting.cm-formatting-list.cm-formatting-list-ol.cm-keyword {
      color: @orange;
    }

    // Task list box
    .cm-formatting.cm-formatting-task.cm-meta {
      color: @grey;
    }
    .cm-formatting.cm-formatting-task.cm-property {
      color: @blue;
    }

    // List's item
    .cm-formatting + .cm-keyword,
    .cm-formatting + .cm-variable-2,
    .cm-formatting + .cm-variable-3 {
      color: @black;
    }

    .cm-strikethrough { color: @dark-grey; }
    .cm-tag { color: @dark-red; }
    .cm-meta { color: @dark-orange; }
    .cm-error { color: @red; }

    .cm-attribute,
    .cm-property {
      color: @blue;
    }

    .cm-qualifier {
      color: @dark-orange;
    }

    // Header
    .cm-header {
      color: @syntax-accent;
    }
    // ###
    .cm-formatting-header {
      opacity: 0.5;
    }

    // Horizontal line
    .cm-hr {
      color: @green;
    }

    .cm-bracket {
      color: @syntax-accent;
    }

    // Link
    .cm-link {
      font-weight: bold;
      color: @blue;
    }
    .cm-url {
      color: @blue;
      opacity: 0.8;
    }

    .cm-rangeinfo {
      color: @dark-orange;
    }
    .cm-whitespace::before {
      color: @grey;
      opacity: 0.4;
    }
    .cm-formatting-quote, .cm-formatting-strong, .cm-formatting-em {
      opacity: 0.6;
    }
    .cm-strong {
      color: @red;
    }
    .cm-em {
      color: @dark-orange;
    }

    // carriage return
    .CodeMirror-code > div > pre > span::after, .CodeMirror-line > span::after {
      color: @black;
      opacity: 0.4;
    }

    .gfm-codeblock-bg.CodeMirror-linebackground {
      background: rgba(0, 0, 0, 0.03);
    }

    .cm-table-sep, .table-row.table-row-1 {
      color: @green;
    }
  }

  /* Active Line Highlight support */
  .CodeMirror-activeline-background, .CodeMirror-activeline-gutter {
    background-color: fade(@light-grey, 40%) !important;
  }
}
